@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Para poder fijar el pie de página con posición absoluta */
  position: relative;
  /* Medida mínima */
  min-height: 100vh;
}

footer {
  /* Posicionar abajo */
  position: absolute;
  bottom: 0;
  /* Ocupar todo el ancho disponible */
  width: 100%;
  min-height: 5 vh;
  /* Solo para probar cómo se ve */
  background: #ccc;
}






